.table-user-div {
  /* height: 60vh; */
  width: 71%;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 50px;
  font-size: 10px;
}

.table-div {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

.table,
th,
td {
  border: 1px solid #cfcdcd;
  border-collapse: collapse;
  padding: 10px 50px;
}

tr {
  transition: all 0.2s;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.table-row {
  background-color: #b11116;
  color: #fff;
}

.table-row:hover {
  background-color: #b11116;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.option {
  font-size: 20px;
  transition: all 0.2s;
}

.option:hover {
  color: #b11116;
  cursor: pointer;
  font-weight: bold;
}

.options-td {
  padding: 0;
}

.align-right {
  text-align: right;
}
