.deposit-div {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
}

.deposit-logo {
  font-size: 50px;
}

.heading-deposit h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 24px;
}

.form-control-deposit {
  border: 1px solid #cfcdcd;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
  margin: 10px 0;
  outline: none;
}

.deposit-btn {
  margin-top: 5px;
  width: 320px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #b11116;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.deposit-btn:hover {
  background-color: #96060b;
}

.sr-names-deposit {
  display: flex;
  text-transform: uppercase;
  margin-bottom: 10px;
}
